/*corps*/


body
{
	background: url('Images/Fond.png');
	font-family: verdana;impact;arial;trebuchetMS;
	}


/*header*/

header{
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	color: white;
}	

nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.elementmenu{
	margin-right: 12px;
	margin-left: 12px;
	border-left: 1px solid white;
	padding-left: 6px;
}

#logo{
	margin-left: 5px;
	margin-bottom: -40px;
}

#logo img
{
	width: 80%;
	height: 80%;
}

.menu a:hover{
	color: grey;
}

a{
	text-decoration: none;
	color: white;
}

/*section*/

section{
	color: black;
	}

h1{
	color: black;
	text-align: center;
	font-size: 2em;
	margin-top: 70px;
}

.bloc_text{
	display:flex;
	text-align: justify;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 25px;
	margin-top: 100px;
	margin-bottom: 100px;
}


article{
	margin-top: 70px;
	margin-right: 50px;
	font-size: 1.2em;
	flex:2.5;
	margin-bottom: 50px;
}

p{
	padding: 5px;
}

aside{
	margin-top: 20px;
	position: relative;
	background-color: white;
	box-shadow: 0px 2px 5px #1c1a19;
	border-radius: 30px;
	padding: 10px;	
	font-style: italic;
	text-align: center;
	flex: 1.5;
}

#fleche_bulle{
	position: absolute;
	top:80px;
	left: -12px;
}

span.Cuis{
	font-style:italic;
	font-weight:bold;
}

/*footer*/

footer{
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	color: white;
}	

nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.elementmenu{
	margin-right: 12px;
	margin-left: 12px;
	border-left: 1px solid white;
	padding-left: 6px;
}
